!!!5
%html{class:"no-js", lang:"es"}
 %head
  %meta{charset:"utf-8"}
  %title ANFA Yumbel
  %meta{name:"description",content:"Asociacion De Futbol Yumbel"}
  %link{rel:"stylesheet",href:"css/normalize.css"}
  %link{rel:"stylesheet",href:"css/bootstrap.css"}
  %link{href:'https://fonts.googleapis.com/css?family=Acme|Baloo+Chettan|Comfortaa&display=swap',rel:'stylesheet'}
  %link{rel:"stylesheet",href:"https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css"}
  %link{rel:"stylesheet",href:"css/style.css"}
  %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
  %script{src:"js/vendor/modernizr-3.7.1.min.js"}
  %body
   ="<!--[if lt IE 9]>"
   %p{class:"browserupgrade"}
    Estas usando un navegador
    %strong desactualizado.
    por favor
    
    %a{href:"http://browsehappy.com/"}
     actualiza tu navegador para una mejor xperiencia
   ="<![endif]-->"
   .video-container
    %video{muted:true, autoplay:"true" , loop:"true",width:"1280",height:"720"}
     %source{src:"videos/videopaginabn.mp4", typ:"video/mp4"}
     %source{src:"videos/blanconegro.webm" ,typ:"video/webm"}
   .row.full-height.middle-xs.center-xs.relative.up
    .col-xs-12
     .box
      %img{src:"imagenes/logoyumbel.png", width:200}
      %h1.white-tex.acme.title.no-margen ANFA Yumbel
      %p#fem.white-tex.acme.medio Liga Femenina
    %nav.fixed.top.right.navegacion.medio.white-tex#navigation
     -menu =["Inicio","Partidos","Tabla De Posiciones"]
     %ul.list-inline
      -menu.each do |item|
       %li
        %a{}= item
    .absolute.black.white-tex.large-pading.full-width#description
     .row.middle-xs.center-xs
      .col-xs-7.col-sm-6.white-tex.medio
       Si juegas limpio, juegas futbol
      .col-xs.hidden#sticky-navigation
       .box
        %nav.text-right.navegacion.medio
         %ul.list-inline
          -menu.each do |item|
           %li
            %a{}= item


   

  .text-center#equipo
   -equipo_photos= [{name: "Barrabases",image:"barrabases"},{name:"Deportes Yumbel",image:"deportesyumbel"},{name:"Deportivo Cabrero",image:"deportivocabrero"},{name:"El Aguila",image:"elaguila"},{name:"El Morro",image:"elmorro"},{name:"Estrella De Chile",image:"estrelladechile"},{name:"Ferroviarios",image:"ferroviarios"},{name:"Hermanos Mendoza",image:"hermanosmendoza"},{name:"Huracan Chillancito",image:"huracanchillancito"},{name:"Juveniles Unidos",image:"juvenilesunidos"}, {name:"Juventud Tomeco",image:"juventudtomeco"},{name:"La Aguada",image:"laaguada"}]
   .row
    -equipo_photos.each do |photo|
     .col-md-4.col-lg-3.col-sm-6.col-xs-12.equipos{style:"background-image:url(imagenes/equipos/#{photo[:image]}-400.png)"}
      .screen 
       .row.middle-xs.full-height
        .col-xs-12
         %h3.acme.white-tex.medio= photo[:name]

      
  %script{src:"https://code.jquery.com/jquery-3.4.1.min.js",integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",crossorigin:"anonymous"}
  %script
   window.jQuery || document.write("<script src='/js/vendor/jQuery-1.12.0.min.js'><\/script>")
  %script{src:"js/main.js"}