%html{class:"no-js", lang:"es"}
 %head
  %meta{charset:"utf-8"}
  %title ANFA Yumbel
  %meta{name:"description",content:"Asociacion De Futbol Yumbel"}
  %link{rel:"stylesheet",href:"css/normalize.css"}
  %link{rel:"stylesheet",href:"css/bootstrap.css"}
  %link{href:'https://fonts.googleapis.com/css?family=Acme|Baloo+Chettan|Comfortaa&display=swap',rel:'stylesheet'}
  %link{rel:"stylesheet",href:"https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css"}
  %link{rel:"stylesheet",href:"css/style.css"}
  %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
  %script{src:"js/vendor/modernizr-3.7.1.min.js"}
  %body
   ="<!--[if lt IE 9]>"
   %p{class:"browserupgrade"}
    Estas usando un navegador
    %strong desactualizado.
    por favor
    
    %a{href:"http://browsehappy.com/"}
     actualiza tu navegador para una mejor xperiencia
   ="<![endif]-->"
   