@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mi7zc0');
  src:  url('fonts/icomoon.eot?mi7zc0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mi7zc0') format('truetype'),
    url('fonts/icomoon.woff?mi7zc0') format('woff'),
    url('fonts/icomoon.svg?mi7zc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e907";
}
