body, html{
	margin: 0;
	height: auto;
	background-repeat: no-repeat;
	background: url(../imagenes/fondo.jpg) ;
	background-size: 100% 100%;
	background-attachment: fixed;
	z-index: -1;

}


.espacio{
	height: 150px;
	width: 100%;
}
body:before{
	content: "";
	width: 100%;
	min-height: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(blue,green);
	opacity: 0.5;
	z-index: 0;
	margin: 0;

	
	 
}
table{
	border: 1px solid;
	margin:150px auto;
	text-align: left;
	border-collapse: separate;
	width: 80%;
   color: rgb(255, 250, 255);
   font-size:25px;
   position: relative;
   z-index:1;
}
td{
	border-top: 10px;
    margin: 40px;
	border:1px solid;
	text-align: center;
}
header{
	position: relative;
	z-index: 1;
}
nav{
	position: relative;
	z-index: 1;
}
.container{
	width: 100%;
	margin: auto;
	color: rgb(255, 250, 255);
}
.container--flex{
	display: flex;
	width: 100%;
    height: 8em;
	justify-content:space-between;
	align-items: center;
	background: black;
	
	
}
a{
	font-size:2em;
    color: rgb(255, 250, 255);
}
.navegacion li {
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .navegacion li:hover {
    background-color: rgb(196,60,31); }
  .navegacion li a {
    color: rgb(255, 250, 255);
    cursor: pointer; }
    .navegacion li a:hover {
      text-decoration: none; }

.conta{

    width: 100%;
	margin: auto;
	align-items: center;
}
 .container-body{
 	position: relative;
 	z-index: 1;
 	color: rgb(255, 250, 255);
 	font-size:5em;
 	display: flex;
 	width: 43%;
 	justify-content: space-between;
 }
 .calen{
 	
	margin: auto;
 	align-items: center;
 	
 	
 	
 }
 .let{
 	font-size:30px;
 	align-items: center;
 }
 .formulario{

 	position: relative;
 	z-index: 1;
 	width: 500px;
 	max-width: 100%;
 	margin: auto;
 	margin-top: 30px;
 	padding: 20px;
 	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
 }
 * {
 	box-sizing: border-box;
 }
 .formulario__titulo{
 	text-align: center;
 	margin-top: 0;
 	color: rgb(255, 250, 255);
 }
 .formulario__input, .formulario__label,
 .formulario__submit{
 	display: block;
 	width: 100%;
 	font-size: 1.3em;
 }
 .formulario__input{
 	padding: 20px;
 	border: 1px solid rgba(0,0,0,0.3);
 	margin-bottom: 40px;
 	background: transparent;
 	color: rgb(255, 250, 255);

 }
 .formulario__label{
 	padding-left: 15px;
 	position: absolute;
 	margin-top: -85px;
 	z-index: -1;
 	color: rgba(255, 250, 255,0.5);
 	transition: all 0.2s;

 }
 .formulario__submit{
 	background: rgba(0,0,0,0.5);
 	color: white;
 	padding: 10px 20px;
 	cursor: pointer;
 }
 .formulario__input:focus + .formulario__label{
 	margin-top: -135px;


 }
.fijar{
   margin-top: -135px;
   color: rgba(255,250,255,0.5);
}
.cont{
	width: 100%;
	margin:auto;

}
.slider{
	width: 95%;
	margin:auto;
	overflow: hidden;
	position: absolute;
	z-index: 1;

}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite;
	animation-direction: alternate;
	mar
	

}
*{
margin:0;
padding:0;

}
.social {
	position: fixed; 
	left: 0; 
	top: 200px; 
	z-index: 1; 
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-instagram {background: #00abf0;}
	
 
	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
	}


.slider li{
	
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}

}
 @media(max-width: 850px){
 
 h1{
 	font-size: 20px;
 }
 .im{
 	width: 1em;
 }
 container-body {
 	font-size: 1em;
 }
}
@media(max-width: 770px){
 
 h1{
 	font-size: 12px;
 }
 table{
 	font-size: 20px;
 }
 

}
@media(max-width: 630px){
	a{
 	font-size: 1em;
 }
}